.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
  /* border-color: #00b300;
  border-style: dashed; */
}

.logo_header {
  display: flex;
  align-items: center;
}

.logo-header {
  height: 60px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  box-sizing: border-box;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  margin: 0 20px;
  position: relative;
}

.nav-item a {
  color: #000;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.4em;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

.nav-item a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -5px;
  background: #00b300;
  transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-item.active a::after {
  width: 100%;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button a {
  display: flex;
  align-items: center;
  color: #222;
  border: 2px solid #00b300;
  padding: 5px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
}

.login-button a:hover {
  background-color: #00b300;
  color: #fff;
}

.login-icon {
  margin-right: 15px;
}
